{% extends 'base.html' %}

{% block content %}

<div class="user-details">
    <img src="{{ user.image_url }}"> 
    <h1> {{ user.first_name }} {{ user.last_name }}</h1>   
    <a class="btn btn-primary" href="/users/{{ user.id }}/edit" id="edit" role="button">Edit</a>
    
    <form action="/users/{{ user.id }}/delete" method="POST" style="display: inline-block">
        <button type="submit" class="btn btn-danger" id="delete">Delete</button>
    </form>
    <!-- <a class="btn btn-danger" href="/users/{{ user.id }}/delete" id="edit" role="button" method="POST">Delete</a> -->
    <!-- <button type="submit" class="btn btn-danger" id="delete">Delete</button> -->

    <h1>Posts</h1>
    <ul>
        {% for post in posts %} 
        <li> <a href="/posts/{{ post.id }}">{{ post.title }}</a> </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="/users/{{ user.id }}/posts/new" role="button">Add Post</a>
</div>

{% endblock %}